*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }

  header {
    text-align: center;
    padding: 3.5em 1em;
  }

  .header-start {
    padding: 3.5em 1em 3em;
  }

  h1 {
    font-size: 2.5em;
  }

  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    max-width: 500px;
    height: 70vw;
    max-height: 450px;
    border-radius: 20px;
    border: transparent;
    background-color: #FFFFFF;
    filter: drop-shadow(0 0 0.25em darkgray);
    overflow: hidden;
  }

  .start p {
    text-align: center;
    width: 70vw;
    position: absolute;
    margin: 0 1em;
    padding: .75em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
  }

  .start img {
    width:100%;
  }

  main {
    text-align: center;
  }

  main button {
    background-color: #0E4174;
    padding: 1em 6em;
    margin: 3em 0 1.5em;
    color: #ffffff;
    border-radius: 5px;
    border: transparent;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }

  main a {
    display: block;
    font-size: 0.75em;
  }

  .disclaimer {
    position: absolute;
    bottom: 3em;
    width: 100%;
    font-size: 0.75em;
    color:#3b3b3b;
  }

  .tinder {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.tinder {
    opacity: 1;
  }
  
  .tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder--cards {
    order: 1;
    position: relative;
    width: 50vw;
    aspect-ratio: 3 / 4;
    z-index: 0;
    margin: 0.3em 15vw;
    overflow: visible;
    /* margin: 0.3em; */
  }
  
  .tinder--card {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 #ddd;
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    -moz-box-shadow: 0 0 5px 0 #ddd;
    position: absolute;
    transition: transform 1s;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .tinder--card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
  }
  
  .tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder button {
    order: 2;
    border-radius: 50%;
    line-height: 60px;
    width: 20vw;
    max-width: 75px;
    border: 0;
    z-index: 1;
    background: transparent;
    margin: 0 8px;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }
  
  .tinder button button:focus {
    outline: 0;
  }
  
  .tinder button i {
    font-size: 2.5em;
    vertical-align: middle;
  }
  
  .fa-heart {
    color: #7dff7b;
  }
  
  .fa-remove {
    color: #fa5d5d;
  }

  @media screen and (min-width: 481px) {
    .tinder button {
      margin: 0 20px;
      order: 0;
    }

    .tinder button i {
      font-size: 3em;
    }

    .tinder--cards {
      order: 0;
      max-width: 400px;
      width: 50%;
      aspect-ratio: 4 / 3;
      margin: 0.3em;
    }

    .start {
      height: fit-content;
    }

    .start p {
      position: relative;
      text-align: center;
      flex: 1 0 45%;
      margin: 0 1em;
      padding: .75em;
      border-radius: 20px;
    }
    
    .start figure {
      flex: 1 0 45%;

    }
  }