*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
  }

  header {
    text-align: center;
    padding: 2em 1em;
  }

  .header-start {
    padding: 3em 1em 3em;
  }

  h1 {
    font-size: 1.5em;
  }

  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80vw;
    max-width: 300px;
    height: 70vw;
    max-height: 300px;
    border-radius: 20px;
    border: transparent;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    overflow: hidden;
  }

  .start p {
    text-align: center;
    width: 70vw;
    max-width: 250px;
    position: absolute;
    margin: 0 1em;
    padding: .75em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
  }

  .start img {
    width:100%;
  }

  main button {
    background-color: #0E4174;
    padding: 1em 6em;
    margin: 3em 0 1.5em;
    color: #ffffff;
    border-radius: 5px;
    border: transparent;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }

  main a {
    margin-bottom: 4em;
    display: block;
    font-size: 0.75em;
  }

  #progress {
    color:#3b3b3b;
    display: block;
    margin-top: 1em;
  }

  #overlay {
    padding: 30px;
    position: absolute;
    top: -1em;
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 50vh rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0 50vh rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 50vh rgba(0, 0, 0, .5);
    z-index: 12;
    visibility: hidden;
  }

  #close {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 1.5em;
    color: #3b3b3b;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }

  #overlay p {
    margin-bottom: 60px;
  }

  #overlay button {
    width: 110px;
    padding: 10px 5px;
    background-color: #0E4174;
    color: #fff;
    display: inline;
    border-radius: 5px;
    border: none;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
    border: solid 0.15em #0E4174;
  }

  a {
    text-decoration: none;
  }

  #overlay #continue {
    margin-right: 5px;
    background-color: #fff;
    color:#0E4174;
  }

  h3 {
    margin: 2em 0 1em;
  }

  .quiz {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  
  .loaded.quiz {
    opacity: 1;
  }
  
  .quiz--cards {
    order: 1;
    position: relative;
    max-height: 40vh;
    width: 60vw;
    aspect-ratio: 3 / 4;
    z-index: 1;
    margin: 0 16vw 1em;
    overflow: visible;
    /* margin: 0.3em; */
  }
  
  .quiz--card {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    position: absolute;
    transition: transform 1s;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.quiz--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }

  h2 {
    margin-top: 0.25em;
    font-size: 0.75em;
    padding: 0 1em;
  }

  .artist {
    font-size: 0.75em;
    margin-top: 0.5em;
    color:#3b3b3b;
  }

  .quiz--card figure {
    width: 90%;
    height: 70%;
    border-radius: 10px;
    margin: 0.75em auto 0;
    overflow: hidden;

  }
  
  .quiz--card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
  }
  
  .quiz .choose {
    order: 2;
    border-radius: 50%;
    line-height: 60px;
    width: 20vw;
    max-width: 75px;
    border: 0;
    z-index: 11;
    background: transparent;
    margin: 0 5vw 2em;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }
  
  .quiz button button:focus {
    outline: 0;
  }
  
  .quiz .choose i {
    font-size: 3em;
    vertical-align: middle;
    transition: all .2s ease;
  }

  .quiz .choose .active {
    font-size: 6em;
    opacity: 0.7;
    transition: all .2s ease;
  }

  .choose span {
    display: block;
    font-size: 0.85em;
    padding: 0;
    line-height: initial;
    color:#3b3b3b;
  }

  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #skip {
    max-width: 60vw;
    flex: 0 0 70%;
    background-color: #fff;
    padding: 1em;
    margin: 1.5em 0 1em;
    color: #0E4174;
    border-radius: 5px;
    border: solid 0.125em #0E4174;
    cursor: -webkit-pointer;
    cursor: -moz-pointer;
    cursor: pointer;
  }

  .disclaimer {
    flex: 1 0 80%;
    margin-top: 0.5em;
    bottom: 3em;
    width: 100%;
    font-size: 0.75em;
    color:#3b3b3b;
  }
  
  .fa-heart {
    color: #7dff7b;
  }
  
  .fa-remove {
    color: #fa5d5d;
  }

  @media screen and (min-width: 768px) {
    .start {
      height: fit-content;
      max-width: 500px;
      max-height: 450px;
    }

    .start p {
      position: relative;
      text-align: center;
      flex: 1 0 45%;
      margin: 0 1em;
      padding: .75em;
      max-width: none;
      border-radius: 20px;
    }
    
    .start figure {
      flex: 1 0 45%;

    }

    #skip {
      text-decoration: underline;
      border: transparent;
      margin: 0;
    }

  }

  @media screen and (min-width: 481px) {

    #skip {
      max-width: 300px;
    }

    #footer {
      margin: 4em 3em 0;
    }

    #overlay {
      padding: 40px 50px;
      width: 400px;
      height: 300px;
      box-shadow: 0 0 0 50vw rgba(0, 0, 0, .5);
    }

    h3 {
      margin: 1em 0;
    }

    #overlay p {
      margin-bottom: 40px;
    }

    h1 {
      font-size: 2.5em;
    }

    .quiz .choose {
      margin: 0 20px;
      order: 0;
    }

    .quiz--cards {
      order: 0;
      max-width: 300px;
      height: auto;
      width: 50%;
      aspect-ratio: 1 / 1;
      margin: 0.3em;
    }

    h2 {
      margin-top: 0.75em;
      font-size: 0.8125em;
    }
  
    .artist {
      font-size: 0.75em;
      margin-top: 0.5em;
    }
  }